p{font-size:25pt;}
h1{text-align:center;font-style:bold,}
p2{font-style:bold;border-style: solid; border-color:darkblue;}
body {
  padding: 25px;
  background-color:#ADD8E6;
  color: black;
  font-size: 25pt;
  font-style: bold;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: "cyan";
  color: black;
  transition: all 0.4s ease-in;
}

h1 {
  text-align: center;
  margin-top: 1.25rem;
}

.container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4.25rem);
  place-content: center;
  gap: 1rem;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
  transition: all 0.4s ease-in;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}


.div {
    background-color: #050505;
    overflow: hidden;
  }
  
  .div a {
    color: #050505;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .div a:hover {
    background-color: #803c3c;
    color: rgb(238, 12, 12);
  }
  
  .div a.active {
    background-color: #04AA6D;
    color: rgb(253, 38, 0);
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(#255,255,255; /* Fallback color */
  background-color: rgba(rgb(128,128,128)); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: "cyan";
}


.container {
  margin: 3.13rem auto;
  max-width: 31.25rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


h1 {
  text-align: center;
  margin-bottom: 1.9rem;
}


form {
  display: flex;
  flex-direction: column;
}


label {
  margin-bottom: 0.63rem;
  font-weight: bold;
}


small {
  font-style: italic;
  font-size: 0.75rem;
}


input {
  padding: 0.63rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  border-radius: 5px;
  border: 2px solid #9898ab;
}


.button-group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.9rem;
}


button {
  color: white;
  border: none;
  border: 2px solid #1781c9;
  border-radius: 5px;
  padding: 0.63rem;
  cursor: pointer;
}

#form-submitted-msg {
  margin-bottom: 3rem;
  border-radius: 3px;
  background-color: rgb(67, 161, 67);
  padding: 0.5rem;
  width: 40%;
  text-align: center;
  color: #0,0,0,0;
  display: none;
}

 if (!element.checkValidity()
          && element.nodeName !== 'BUTTON'
          && element.nodeName !== 'SELECT'  
          && element.type !== 'checkbox'
          && element.type !== 'radio'
    ) {
      element.style.borderColor = 'red'
      element.nextElementSibling.style.color = 'red'
      element.nextElementSibling.style.display = 'block'
      element.previousElementSibling.style.color = 'red'
